{% include  "header.html" %}
<h3 class="h3 h3Colors">Cash Withdrawal API</h3>

<p>To use Cash Withdrawal API:</p>
<ul>
    <li>pass withdrawal amount as in the example below:</li>
    <li>Sample query: http://127.0.0.1:8000/api?amount=<b>670</b></li>
    <li>sample response: {"notes": "[100, 100, 100, 100, 100, 100, 50, 20]"}</li>
    <li>for the sake of presentation a saparate file was created to test it. You can find testapi.html in the main
        directory of the project (just next to manage.py file).
    </li>
</ul>

{% include "footer.html" %}